<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pentest Application</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <style>
    </style>
</head>
<body>
    <h1>Pentest Application</h1>

    <!-- Toggle button for Scan Form -->
    <button id="toggle-scan-form" onclick="toggleScanForm()">Show/Hide Network Scan</button>

    <!-- Network Scan Form -->
    <section id="scan" class="{% if scan_results %}hidden{% endif %}">
        <h2>Network Scan</h2>
        <form action="/scan" method="post" onsubmit="prepareScripts()">
            <label for="ip_range">Target IP Range:</label>
            <input type="text" name="ip_range" placeholder="Enter IP range (e.g., 192.168.0.0/24)" required>

            <!-- Additional form options -->
            <div class="form-section">

                
                <h3>Scan Types</h3>
                <div class="checkbox-group">
                    <label><input type="checkbox" name="service_version" checked> Service Version Detection (-sV)</label>
                    <label><input type="checkbox" name="os_detection" checked> OS Detection (-O)</label>
                    <label><input type="checkbox" name="aggressive"> Aggressive Scan (-A)</label>
                    <label><input type="checkbox" name="tcp_scan"> TCP Scan (-sT)</label>
                    <label><input type="checkbox" name="udp_scan"> UDP Scan (-sU)</label>
                    <label><input type="checkbox" name="ping_scan"> Ping Scan (-sn)</label>
                    <label><input type="checkbox" name="fast_scan"> Fast Scan (-F)</label>
                </div>
                
                <h3>Port Options</h3>
                <label for="port_range">Port Range:</label>
                <input type="text" name="port_range" placeholder="e.g., 1-1000">
                
                <h3>Script Options</h3>
                <div id="selected-scripts" class="badge-container"></div>
                
                <div class="category-title category-title-service-enum" onclick="toggleCategory('service-enum')">Service Enumeration:</div>
                <div class="script-options" id="service-enum" multiple>
                    <label><input type="checkbox" value="default,safe">run service enumeration scripts(ALL)</label><br>
                    <label><input type="checkbox" value="http-title">http-title (Webpage title)</label><br>
                    <label><input type="checkbox" value="ssh-hostkey">ssh-hostkey (SSH host key fingerprint)</label><br>
                    <label><input type="checkbox" value="ftp-anon">ftp-anon (Anonymous FTP login)</label><br>
                    <label><input type="checkbox" value="smtp-commands">smtp-commands (Supported SMTP commands)</label><br>
                    <label><input type="checkbox" value="mysql-info">mysql-info (MySQL server info)</label><br>
                    <label><input type="checkbox" value="pop3-capabilities">pop3-capabilities (POP3 server capabilities)</label><br>
                    <label><input type="checkbox" value="imap-capabilities">imap-capabilities (IMAP server capabilities)</label><br>
                    <label><input type="checkbox" value="smb-os-discovery">smb-os-discovery (SMB OS discovery)</label><br>
                </div>
            
                <div class="category-title category-title-vuln-detection" onclick="toggleCategory('vuln-detection')">Vulnerability Detection:</div>
                <div class="script-options" id="vuln-detection" multiple>
                    <label><input type="checkbox" value="vuln">Vulnerability Detection Scripts(ALL)</label><br>
                    <label><input type="checkbox" value="ssl-heartbleed">ssl-heartbleed (Heartbleed check)</label><br>
                    <label><input type="checkbox" value="http-shellshock">http-shellshock (Shellshock vulnerability)</label><br>
                    <label><input type="checkbox" value="ftp-vsftpd-backdoor">ftp-vsftpd-backdoor (vsftpd backdoor)</label><br>
                    <label><input type="checkbox" value="smb-vuln-ms17-010">smb-vuln-ms17-010 (EternalBlue)</label><br>
                    <label><input type="checkbox" value="http-cve2017-5638">http-cve2017-5638 (Apache Struts CVE)</label><br>
                    <label><input type="checkbox" value="smtp-vuln-cve2011-1720">smtp-vuln-cve2011-1720 (Postfix vuln)</label><br>
                </div>
            
                <div class="category-title category-title-brute-force" onclick="toggleCategory('brute-force')">Brute-Force and Login Testing:</div>
                <div class="script-options" id="brute-force" multiple>
                     <label><input type="checkbox" value="brute, auth">Brute and login(ALL)</label><br>
                     <label><input type="checkbox" value="ftp-brute">ftp-brute (FTP brute-force)</label><br>
                     <label><input type="checkbox" value="ssh-brute">ssh-brute (SSH brute-force)</label><br>
                     <label><input type="checkbox" value="http-brute">http-brute (HTTP brute-force)</label><br>
                     <label><input type="checkbox" value="smtp-brute">smtp-brute (SMTP brute-force)</label><br>
                     <label><input type="checkbox" value="mysql-brute">mysql-brute (MySQL brute-force)</label><br>
                </div>
            
                <div class="category-title category-title-info-gathering" onclick="toggleCategory('info-gathering')">Information Gathering:</div>
                <div class="script-options" id="info-gathering" multiple>
                    <label><input type="checkbox" value="discovery">Discover(ALL)</label><br>
                    <label><input type="checkbox" value="whois-domain">whois-domain (Domain WHOIS)</label><br>
                    <label><input type="checkbox" value="dns-brute">dns-brute (DNS subdomain brute-force)</label><br>
                    <label><input type="checkbox" value="http-headers">http-headers (HTTP headers)</label><br>
                    <label><input type="checkbox" value="http-methods">http-methods (HTTP methods)</label><br>
                    <label><input type="checkbox" value="dns-srv-enum">dns-srv-enum (DNS SRV enumeration)</label><br>
                    <label><input type="checkbox" value="http-enum">http-enum (Web app & directory enumeration)</label><br>
                </div>
            
                <div class="category-title category-title-ssl-testing" onclick="toggleCategory('ssl-testing')">SSL and TLS Testing:</div>
                <div class="script-options" id="ssl-testing" multiple>
                    <label><input type="checkbox" value="ssl">SSL & TLS (ALL)</label><br>
                    <label><input type="checkbox" value="ssl-cert">ssl-cert (SSL certificate info)</label><br>
                    <label><input type="checkbox" value="ssl-enum-ciphers">ssl-enum-ciphers (SSL/TLS ciphers)</label><br>
                    <label><input type="checkbox" value="ssl-poodle">ssl-poodle (SSL POODLE vulnerability)</label><br>
                    <label><input type="checkbox" value="ssl-dh-params">ssl-dh-params (Weak DH params check)</label><br>
                </div>
            
                <div class="category-title category-title-malware-detection" onclick="toggleCategory('malware-detection')">Malware and Backdoor Detection:</div>
                <div class="script-options" id="malware-detection" multiple>
                    <div>
                        <input type="checkbox" id="malware-detection-all" onchange="toggleAllScripts('malware-detection', this.checked)"> Run All
                    </div>
                    <label><input type="checkbox" value="http-malware-host">http-malware-host (Malware host check)</label><br>
                    <label><input type="checkbox" value="http-sql-injection">http-sql-injection (SQL injection)</label><br>
                    <label><input type="checkbox" value="http-xssed">http-xssed (XSS vulnerability check)</label><br>
                    <label><input type="checkbox" value="smb-vuln-cve-2017-7494">smb-vuln-cve-2017-7494 (Samba vuln)</label><br>
                </div>
                <input type="text" id="custom-script" placeholder="Enter custom script name">
            </div>

            <!-- Submit Button -->
            <button type="submit">Start Scan</button>
        </form>
    </section>

    <!-- Display Scan Results -->
    <section id="scan-results">
        {% if scan_results %}
        <h3>Scan Results:</h3>
        <table class="scan-results-table">
            <thead>
                <tr>
                    <th>IP Address</th>
                    <th>Port</th>
                    <th>Protocol</th>
                    <th>Service</th>
                    <th>Product</th>
                    <th>Version</th>
                    <th>State</th>
                    <th>Script Output</th>
                </tr>
            </thead>
            <tbody>
                {% for result in scan_results %}
                <tr>
                    <td>{{ result.ip }}</td>
                    <td>{{ result.port }}</td>
                    <td>{{ result.protocol | upper }}</td>
                    <td>{{ result.service | capitalize }}</td>
                    <td>{{ result.product | capitalize }}</td>
                    <td>{{ result.version }}</td>
                    <td class="{{ 'open' if result.state == 'open' else 'closed' }}">{{ result.state | capitalize }}</td>
                    <td>
                        
                        {% if result.script_output %}
                        <div class="script-output">
                            {% for script_name, script_details in result.script_output.items() %}
                                <strong>{{ script_name }}:</strong>
                                <button onclick="toggleDetails(this)" class="toggle-button">Show Details</button>
                                <div class="script-details" style="display: none;">
                                    <pre>{{ script_details }}</pre>
                                </div>
                            {% endfor %}
                        </div>
                        {% else %}
                            N/A
                        {% endif %}
                        
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </section>

    <script src="static/script.js"></script>
</body>
</html>